.divSlider{
  padding: 20px;
  h3{
    width: 100%;
    padding: 100px 200px;
    background: #00aced;
    text-align: center;
    color: #FFF;
    border: 5px solid red;
    font-size: 32px;
  }
}
.slider-content{
  margin-bottom: 50px;
}