.div__add-new {
  padding: 4px 5px;
}
.text__word{
padding: 2px 5px;
}
.textarea__note {
  padding: 2px 5px;
  width: 100%;
}
.button__add {
  background: black;
  padding: 4px 15px;
  border: none;
  color: #FFF;
  border-radius: 3px;
}